<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ScriptHub</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
<link href="modesta.min.css" type="text/css" rel="stylesheet">
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
<meta property="og:type" content="website">
<meta name=”distribution” content=”global” />
  </head>
  <body>
<div class="nav-container">

  <h1 class="nav-title">Script Hub</h1>
</div>
    <div class="center-object">
   <section class="card-container">
     <% for (var i in botsdb) { %>
      <% if (!client.users.get(i)) continue; %>
<div class="card">
        <div class="avatar">
          <img src="<%=client.users.get(i).displayAvatarURL%>">
          </div>
        <h1 class="title"><%=client.users.get(i).username%></h1>
        <p class="description"><%=botsdb[i].description%></p>
        <p class="description"><a href="https://shbl.glitch.me/bots/<%=i%>" class="btn animation turquoise" target="_blank">Ver más</a></p>
        </div>
      <% } %>
</section>
    </div>
  </body>
</html>
