<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ScriptHub</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
<link href="modesta.min.css" type="text/css" rel="stylesheet">
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
<meta property="og:type" content="website">
<meta name=”distribution” content=”global” />
  </head>
  <body>
<div class="nav-container">

  <h1 class="nav-title">Script Hub</h1>
  <h2 class="nav-menu">
    <div class="buttons">
<a href="/authorize" class="btn discord">Iniciar sesión</a>
<a href="/bots" class="btn discord">Lista de BOTs</a>
    </div>
  </h2>
</div>
    <div class="center-object">
    <section class="fullscreen">
  <div class="center-object">
    <section class="me">
      <img draggable="false" src="https://i.imgur.com/2HrbE5K.png" class="image-title">
      <h1 class="title">ScriptHub</h1>
    </section>
  </div>
</section>
    <br />
    <span class="undertitle">Bienvenido a la lista de bots de ScriptHub</span>
    </div>
  </body>
</html>
