<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ScriptHub</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
<link href="https://modesta.alexflipnote.dev/css/modesta.css" type="text/css" rel="stylesheet">
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
<meta property="og:type" content="website">
<meta name=”distribution” content=”global” />
  </head>
  <body>
<div class="nav-container">

  <h1 class="nav-title">Script Hub</h1>
</div>
<div class="form-container">
  <form method="POST">
    <div class="row">
      <div class="one-half column">
        <label for="exampleEmail">ID de tu bot</label>
        <input class="full-width" name="botid"placeholder="La ID de tú bot">
        <label for="exampleEmail">Prefijo del bot</label>
        <input class="full-width" name="botprefix" placeholder="Prefijo de tú BOT">
        <label for="exampleMessage">Descripción del bot</label>
    <textarea class="full-width" name="botdesc" placeholder="Una breve descripción de su bot (máximo 200 caracteres)"></textarea>
        <label for="exampleSelect">Librería</label>
        <select class="full-width" name="botlibrary">
          <option value="discord.js">discord.js</option>
          <option value="discord.py">discord.py</option>
          <option value="discordrb">discordrb</option>
        </select>
        <input class="btn discord" type="submit" value="Agregar BOT">
      </div>
    </div>
  </form>
</div>
    </div>
  </div>
</section>
    </div>
  </body>
</html>